@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
  -dark-02: rgba(66, 66, 66, 1);
  -dark-03: #727272;
  -dark-04: #a1a1a1;
  -dark-05: #d0d0d0;
  -dark-07: #f3f3f3;
  -white-01: #ffffff;
  -dark-06: #e7e7e7;
  -dark-02: #424242;
  -dark-01: #131313;
}

/* shared style */

.display-flex {
  display: flex;
}

.text-primary {
  color: rgba(255, 144, 14, 1);
}

/* dark02 */
.text-gray {
  color: rgba(66, 66, 66, 1);
}

/* dark03 */
.text-light-gray {
  color: #727272;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
  background-color: rgba(255, 144, 14, 1);
  color: #ffffff;
  padding: 20px 25px;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

main > section {
  margin-top: 130px;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}
/* header style */

/* navbar related style */

.navbar {
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-weight: 700;
  font-size: 2.3rem;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
}

.navbar,
.banner,
footer {
  max-width: 1440px;
  margin: 0 auto;
}

/* banner related style */

.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banenr-title {
  font-size: 4rem;
  font-weight: 700;
}

.banner-description {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 24px;
}

.banner-image {
  width: 100%;
}

/* future related style */

.teams {
  align-items: center;
}

.teams-image-continer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.out-futures {
  margin-left: 130px;
  max-width: 530px;
}

.quick-list {
  font-weight: 500;
}

/* features section releted style */

.features {
  gap: 140px;
}

#features-section-title {
  border-left: 5px solid rgba(255, 144, 14, 1);
  padding: 20px;
}

.features-card {
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-bottom: 20px;
}

.features-card .features-card {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

#experience-badge {
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -100px;
  margin-top: -100px;
}

#experience-year {
  font-size: 4rem;
  font-weight: 700;
}

.features-architect img {
  width: 100%;
}

/* some fact releted style */

.fact-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.fact-card {
  border: 1px solid #ff900e;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fact-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}

.future-discription {
  max-width: 540px;
}

/* sponsor related style */

.sponser-info {
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.sponser-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sponser-companies img {
  filter: grayscale(100%);
}

/* footer related style */

footer {
  background-color: antiquewhite;
  margin-top: 100px;
  text-align: center;
  padding: 40px 0px;
  margin-bottom: 110px;
}

footer h4 {
  font-size: 1.25rem;
  font-weight: 400;
}

@media screen and (max-width: 576px) {
  main > section {
    margin-top: 60px;
  }
  .navbar,
  .nav-link,
  .features,
  .teams {
    flex-direction: column;
  }
  .nav-item {
    margin-bottom: 20px;
    margin-left: -10px;
    text-align: center;
    font-size: 2rem;
  }

  .banenr-title {
    font-size: 3rem;
  }

  .btn-primary {
    font-size: 1rem;
  }

  .teams-image-continer,
  .fact-container,
  .sponser-companies {
    grid-template-columns: repeat(1, 1fr);
  }

  .fact-container,
  .sponser-companies {
    justify-items: center;
    gap: 24px;
  }

  .sponser-companies {
    gap: 50px;
  }

  .teams-image-continer img {
    width: 100%;
  }

  .out-futures {
    margin-left: 0px;
    text-align: center;
  }

  #experience-badge {
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
  }

  #experience-year {
    font-size: 3rem;
  }

  footer {
    margin-top: 60px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams,
  .features {
    flex-direction: column;
  }

  .out-futures {
    margin-left: 20px;
  }
  .fact-container,
  .sponser-companies {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
  }

  .teams-image-continer img {
    width: 100%;
  }

  #experience-badge {
    margin-left: 20px;
    margin-top: 20px;
  }
}
